:root {
    --cm-text: hsl(210, 17%, 82%);
    --cm-text-hover: hsl(206, 22%, 87%);
    --cm-text-active: hsl(208, 35%, 93%);
    --cm-text-muted: hsl(215, 7%, 47%);
    --cm-background: hsl(216, 28%, 7%);
    --cm-background-dark: hsl(218, 80%, 2%);
    --cm-background-light: hsl(218, 22%, 10%);
}

#replugged-quickcss-wrapper .cm-editor {
    outline: none !important;
    max-height: 85vh;
    background: var(--cm-background);
    border: 1px solid var(--background-tertiary);
    border-radius: 4px;
    color: var(--cm-text);
}

#replugged-quickcss-wrapper .cm-scroller {
    overflow: auto;
    padding: 3px 5px 3px 0;
    border-radius: 4px;
    font-size: .875rem;
    font-family: var(--font-code);
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
}

#replugged-quickcss-wrapper .cm-scroller::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    margin: 8px;
}
#replugged-quickcss-wrapper .cm-scroller::-webkit-scrollbar-corner {
    background-color: transparent;
}
#replugged-quickcss-wrapper .cm-scroller::-webkit-scrollbar-thumb {
    background-color: var(--cm-background-light);
}
#replugged-quickcss-wrapper .cm-scroller::-webkit-scrollbar-track {
    background-color: var(--cm-background-dark);
}
#replugged-quickcss-wrapper .cm-scroller::-webkit-scrollbar-thumb,
#replugged-quickcss-wrapper .cm-scroller::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 8px;
}

#replugged-quickcss-wrapper .cm-line {
    height: 18px;
    padding: 0 0 0 1px;
}

#replugged-quickcss-wrapper .cm-content {
    caret-color: var(--cm-text);
    padding: 0;
}

#replugged-quickcss-wrapper .cm-content,
#replugged-quickcss-wrapper .cm-gutter {
    min-height: 50vh;
}

#replugged-quickcss-wrapper .cm-gutters {
    padding-left: 5px;
    background-color: var(--cm-background);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: var(--cm-text-muted);
}

#replugged-quickcss-wrapper .cm-gutterElement {
    margin: 0;
    text-align: left;
}
#replugged-quickcss-wrapper .cm-gutterElement span[title="Fold line"],
#replugged-quickcss-wrapper .cm-gutterElement span[title="Unfold line"] {
    font-size: 0;
}
#replugged-quickcss-wrapper .cm-gutterElement span[title="Fold line"]:before {
    content: "v";
    font-size: .875rem;
}
#replugged-quickcss-wrapper .cm-gutterElement span[title="Unfold line"]:before {
    content: ">";
    font-size: .875rem;
}

#replugged-quickcss-wrapper .cm-foldPlaceholder {
    background-color: transparent;
    border: none;
    font-size: 0;
    font-family: inherit;
    line-height: inherit;
    color: var(--cm-text-active);
    text-indent: inherit;
    white-space: inherit;
}
#replugged-quickcss-wrapper .cm-foldPlaceholder:before {
    content: "···";
    font-size: .875rem;
}

#replugged-quickcss-wrapper .cm-foldGutter {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
#replugged-quickcss-wrapper .cm-foldGutter:hover {
    opacity: 1;
}

#replugged-quickcss-wrapper .cm-activeLine {
    background-color: hsla(var(--white-500-hsl) / .05);
}
#replugged-quickcss-wrapper .cm-activeLineGutter {
    background-color: var(--cm-background);
    color: var(--cm-text-active);
}
#replugged-quickcss-wrapper .cm-content ::selection,
#replugged-quickcss-wrapper .cm-focused .cm-foldPlaceholder,
#replugged-quickcss-wrapper .cm-selectionLayer .cm-selectionBackground,
#replugged-quickcss-wrapper .cm-selectionBackground {
    background-color: hsl(var(--blue-400-hsl) / .3);
}
#replugged-quickcss-wrapper .cm-selectionMatch,
#replugged-quickcss-wrapper .cm-focused .cm-matchingBracket {
    background-color: hsl(var(--green-400-hsl) / .3);
}
#replugged-quickcss-wrapper .cm-focused .cm-nonmatchingBracket {
    background-color: hsl(var(--red-400-hsl) / .3);
}
#replugged-quickcss-wrapper .cm-searchMatch {
    background-color: hsl(var(--yellow-400-hsl) / .15);
}
#replugged-quickcss-wrapper .cm-searchMatch .cm-selectionMatch {
    background-color: hsl(var(--yellow-400-hsl) / .3);
}
#replugged-quickcss-wrapper .cm-searchMatch.cm-searchMatch-selected {
    background-color: hsl(var(--yellow-400-hsl) / .6);
}
#replugged-quickcss-wrapper .cm-trailingSpace,
#replugged-quickcss-wrapper .cm-specialChar {
    color: var(--red-400);
}

#replugged-quickcss-wrapper .cm-panels {
    background-color: var(--cm-background-light);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--cm-text);
}

#replugged-quickcss-wrapper .cm-panel {
    padding: 10px;
}
#replugged-quickcss-wrapper .cm-panel label {
    position: relative;
    top: 2px;
    margin: 4px;
}
#replugged-quickcss-wrapper .cm-panel button {
    margin: 4px 6px;
}
#replugged-quickcss-wrapper .cm-panel label,
#replugged-quickcss-wrapper .cm-panel button {
    padding: 0;
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 0;
    font-family: var(--font-primary);
    line-height: 0;
    color: var(--interactive-normal);
}
#replugged-quickcss-wrapper .cm-panel label input[type="checkbox"] {
    width: 10px;
    height: 10px;
    cursor: inherit;
}

#replugged-quickcss-wrapper .cm-panel label:hover,
#replugged-quickcss-wrapper .cm-panel label:has(input:checked):hover,
#replugged-quickcss-wrapper .cm-panel button:hover {
    color: var(--interactive-hover);
}
#replugged-quickcss-wrapper .cm-panel label:not(:has(input:checked)):active,
#replugged-quickcss-wrapper .cm-panel label:has(input:checked),
#replugged-quickcss-wrapper .cm-panel button:active {
    color: var(--interactive-active);
}
#replugged-quickcss-wrapper .cm-panel label:before,
#replugged-quickcss-wrapper .cm-panel label:after,
#replugged-quickcss-wrapper .cm-panel button:before,
#replugged-quickcss-wrapper .cm-panel button:after {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
#replugged-quickcss-wrapper .cm-panel label:after,
#replugged-quickcss-wrapper .cm-panel button:after {
    box-shadow: var(--elevation-high);
    pointer-events: none;
    position: absolute;
    z-index: 1;
    opacity: 0;
    overflow: visible;
    height: fit-content;
    padding: 8px 12px;
    transition: opacity .2s ease-in-out;
    background: var(--background-floating);
    border-radius: 5px;
    color: var(--text-normal);
}
#replugged-quickcss-wrapper .cm-panel label:hover:after,
#replugged-quickcss-wrapper .cm-panel button:hover:after {
    opacity: 1;
}
#replugged-quickcss-wrapper .cm-panel label:after {
    margin-top: -5px;
    margin-left: 2px;
}
#replugged-quickcss-wrapper .cm-panel button:after {
    margin-top: -8px;
    margin-left: 4px;
}

#replugged-quickcss-wrapper .cm-panel label:has(input[name="case"]):before {
    content: "Aa ";
}
#replugged-quickcss-wrapper .cm-panel label:has(input[name="case"]):after {
    content: "Match Case";
}
#replugged-quickcss-wrapper .cm-panel label:has(input[name="re"]):before {
    content: "🞻 ";
}
#replugged-quickcss-wrapper .cm-panel label:has(input[name="re"]):after {
    content: "Match RegEx";
}
#replugged-quickcss-wrapper .cm-panel label:has(input[name="word"]):before {
    content: "[ab] ";
}
#replugged-quickcss-wrapper .cm-panel label:has(input[name="word"]):after {
    content: "Match Word";
}

#replugged-quickcss-wrapper .cm-panel button[name="close"] {
    right: 0;
}
#replugged-quickcss-wrapper .cm-panel button[name="close"]:before {
    content: "🞩";
}
#replugged-quickcss-wrapper .cm-panel button[name="next"]:before {
    content: "🡣";
}
#replugged-quickcss-wrapper .cm-panel button[name="next"]:after {
    content: "Next";
}
#replugged-quickcss-wrapper .cm-panel button[name="prev"]:before {
    content: "🡡";
}
#replugged-quickcss-wrapper .cm-panel button[name="prev"]:after {
    content: "Previous";
}
#replugged-quickcss-wrapper .cm-panel button[name="select"]:before {
    content: "ALL";
}
#replugged-quickcss-wrapper .cm-panel button[name="select"]:after {
    content: "Select All";
}
#replugged-quickcss-wrapper .cm-panel button[name="replace"]:before {
    content: "⇆";
}
#replugged-quickcss-wrapper .cm-panel button[name="replace"]:after {
    content: "Replace";
}
#replugged-quickcss-wrapper .cm-panel button[name="replaceAll"]:before {
    content: "↹";
}
#replugged-quickcss-wrapper .cm-panel button[name="replaceAll"]:after {
    content: "Replace All";
}

#replugged-quickcss-wrapper .cm-panel .cm-textfield {
    margin: 2px 4px;
    padding: 2px 4px;
    background-color: var(--cm-background);
    border: 1px solid var(--cm-text-muted);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: var(--cm-text);
}
#replugged-quickcss-wrapper .cm-panel .cm-textfield.focus-visible {
    border-color: var(--cm-text-active);
}
#replugged-quickcss-wrapper .cm-panel .cm-placeholder {
    color: var(--cm-text-muted);
}

#replugged-quickcss-wrapper .cm-tooltip {
    box-shadow: var(--elevation-high);
    padding: 0;
    background: var(--cm-background-light);
    border: 1px solid var(--background-tertiary);
    border-radius: 4px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.125rem;
    color: var(--cm-text);
}

#replugged-quickcss-wrapper .cm-tooltip-autocomplete ul {
    font-family: var(--font-code);
    text-indent: 0;
    white-space: pre-wrap;
}
#replugged-quickcss-wrapper .cm-tooltip-autocomplete ul completion-section {
    border-bottom: 1px solid var(--cm-text);
}
#replugged-quickcss-wrapper .cm-tooltip-autocomplete ul li:hover {
    background: var(--background-modifier-hover);
    color: var(--cm-text-hover);
}
#replugged-quickcss-wrapper .cm-tooltip-autocomplete ul li[aria-selected] {
    background: var(--background-modifier-selected);
    color: var(--cm-text-active);
}
#replugged-quickcss-wrapper .cm-tooltip-autocomplete-disabled ul li[aria-selected] {
    color: var(--cm-text-muted);
}

#replugged-quickcss-wrapper .cm-tooltip ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#replugged-quickcss-wrapper .cm-tooltip ::-webkit-scrollbar-corner {
    background-color: transparent;
}
#replugged-quickcss-wrapper .cm-tooltip ::-webkit-scrollbar-thumb {
    min-height: 40px;
    background-color: var(--cm-background-dark);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
}
#replugged-quickcss-wrapper .cm-tooltip ::-webkit-scrollbar-track {
    background-color: transparent;
    border: 2px solid transparent;
    border-color: transparent;
}
#replugged-quickcss-wrapper .cm-tooltip ::-webkit-scrollbar-thumb,
#replugged-quickcss-wrapper .cm-tooltip ::-webkit-scrollbar-track {
    visibility: hidden;
}
#replugged-quickcss-wrapper .cm-tooltip:hover ::-webkit-scrollbar-thumb,
#replugged-quickcss-wrapper .cm-tooltip:hover ::-webkit-scrollbar-track {
    visibility: visible;
}
